@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --duration: .45s ;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1) ;
  --color-1: #d5dadd ;
  --color-2: #51d5c2 ;
}

html *,
html *::before,
html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Nunito', sans-serif;
}

.menu {
  top: 10px;
  width: 42em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.9em 2.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 1em 1em 4.5em 4.5em;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 42.625em) {
  body {
    margin: 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #f0f1f1;
    font-family: 'Nunito', sans-serif;
  }
  .menu {
    margin: 0;
    width: 42em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10.4em;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1.9em 2.5em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fefefe;
    border-radius: 1em 1em 4.5em 4.5em;
    -webkit-tap-highlight-color: transparent;
  }
  .menu {
    font-size: .55em;
  }
}

.menu::after {
  height: 5%;
  width: 35%;
  bottom: 10%;
  content: " ";
  position: absolute;
  border-radius: 1em;
  background-color: white;
}

.menu__item {
  all: unset;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  padding-top: 0.5em;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: flex-grow var(--duration) var(--cubic), -webkit-box-flex var(--duration) var(--cubic);
  transition: flex-grow var(--duration) var(--cubic), -webkit-box-flex var(--duration) var(--cubic);
  transition: flex-grow var(--duration) var(--cubic);
  transition: flex-grow var(--duration) var(--cubic), -webkit-box-flex var(--duration) var(--cubic), -ms-flex-positive var(--duration) var(--cubic);
}

.menu__icon {
  font-size: 1.05em;
  stroke: currentColor;
  -webkit-transition: -webkit-transform var(--duration) var(--cubic);
  transition: -webkit-transform var(--duration) var(--cubic);
  transition: transform var(--duration) var(--cubic);
  transition: transform var(--duration) var(--cubic), -webkit-transform var(--duration) var(--cubic);
}

.menu__item::before {
  top: 9%;
  left: 18.4%;
  width: 1.5em;
  height: 1.5em;
  content: " ";
  position: absolute;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  background-color: #fdecef;
  -webkit-transition: -webkit-transform var(--duration) var(--cubic);
  transition: -webkit-transform var(--duration) var(--cubic);
  transition: transform var(--duration) var(--cubic);
  transition: transform var(--duration) var(--cubic), -webkit-transform var(--duration) var(--cubic);
}

.menu__item::after {
  left: 0;
  bottom: 0;
  content: " ";
  height: 0.25em;
  position: absolute;
  border-radius: 2em;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  background-color: currentColor;
  width: calc( var(--lineWidth) + 5px);
  -webkit-transform: translate3d(3em, 0, 0) scaleX(0);
          transform: translate3d(3em, 0, 0) scaleX(0);
  -webkit-transition: -webkit-transform calc( var(--duration) + .2s) var(--cubic);
  transition: -webkit-transform calc( var(--duration) + .2s) var(--cubic);
  transition: transform calc( var(--duration) + .2s) var(--cubic);
  transition: transform calc( var(--duration) + .2s) var(--cubic), -webkit-transform calc( var(--duration) + .2s) var(--cubic);
}

.menu__text {
  left: 4.15em;
  font-size: 1.5em;
  position: absolute;
  text-transform: capitalize;
  letter-spacing: .01em;
  -webkit-transform: translate3d(0, 109%, 0);
          transform: translate3d(0, 109%, 0);
  -webkit-transition: -webkit-transform calc( var(--duration) / 3.7);
  transition: -webkit-transform calc( var(--duration) / 3.7);
  transition: transform calc( var(--duration) / 3.7);
  transition: transform calc( var(--duration) / 3.7), -webkit-transform calc( var(--duration) / 3.7);
}

.menu__item.active {
  -webkit-box-flex: 2.7;
      -ms-flex-positive: 2.7;
          flex-grow: 2.7;
  color: var(--color-2);
}

.menu__item.active .menu__icon {
  -webkit-transform: translate3d(-95%, 0, 0);
          transform: translate3d(-95%, 0, 0);
}

.menu__item.active::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu__item.active::after {
  -webkit-transform: translate3d(6.3em, 0, 0) scaleX(1);
          transform: translate3d(6.3em, 0, 0) scaleX(1);
  -webkit-transition: -webkit-transform var(--duration) var(--cubic);
  transition: -webkit-transform var(--duration) var(--cubic);
  transition: transform var(--duration) var(--cubic);
  transition: transform var(--duration) var(--cubic), -webkit-transform var(--duration) var(--cubic);
}

.menu__text.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform calc(var(--duration) / 1.5);
  transition: -webkit-transform calc(var(--duration) / 1.5);
  transition: transform calc(var(--duration) / 1.5);
  transition: transform calc(var(--duration) / 1.5), -webkit-transform calc(var(--duration) / 1.5);
}

.icon {
  --duration-icon: 1s ;
  fill: none;
  width: 2.5em;
  height: 2.5em;
  display: block;
  stroke-width: 15;
  stroke-miterlimit: 10;
}

.active #home-anm {
  -webkit-animation: home var(--duration-icon);
          animation: home var(--duration-icon);
}

@-webkit-keyframes home {
  25% {
    -webkit-transform: translate3d(0, -0.8em, 0);
            transform: translate3d(0, -0.8em, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0.5em, 0);
            transform: translate3d(0, 0.5em, 0);
  }
}

@keyframes home {
  25% {
    -webkit-transform: translate3d(0, -0.8em, 0);
            transform: translate3d(0, -0.8em, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0.5em, 0);
            transform: translate3d(0, 0.5em, 0);
  }
}

#strategy-anm {
  -webkit-transform: scaleX(0.85);
          transform: scaleX(0.85);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.active #strategy-anm {
  -webkit-animation: strategy var(--duration-icon);
          animation: strategy var(--duration-icon);
}

@-webkit-keyframes strategy {
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0.85);
            transform: scaleX(0.85);
  }
}

@keyframes strategy {
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0.85);
            transform: scaleX(0.85);
  }
}

.active #strategy-cir1 {
  -webkit-animation: strategy-cir1 var(--duration-icon);
          animation: strategy-cir1 var(--duration-icon);
}

.active #strategy-cir2 {
  -webkit-animation: strategy-cir2 var(--duration-icon) 0.1s;
          animation: strategy-cir2 var(--duration-icon) 0.1s;
}

.active #strategy-cir3 {
  -webkit-animation: strategy-cir3 var(--duration-icon) 0.2s;
          animation: strategy-cir3 var(--duration-icon) 0.2s;
}

@-webkit-keyframes strategy-cir1 {
  50% {
    -webkit-transform: translate3d(-0.7em, -0.7em, 0);
            transform: translate3d(-0.7em, -0.7em, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes strategy-cir1 {
  50% {
    -webkit-transform: translate3d(-0.7em, -0.7em, 0);
            transform: translate3d(-0.7em, -0.7em, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes strategy-cir2 {
  35% {
    -webkit-transform: translate3d(0, -0.7em, 0);
            transform: translate3d(0, -0.7em, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes strategy-cir2 {
  35% {
    -webkit-transform: translate3d(0, -0.7em, 0);
            transform: translate3d(0, -0.7em, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes strategy-cir3 {
  35% {
    -webkit-transform: translate3d(0.7em, -0.7em, 0);
            transform: translate3d(0.7em, -0.7em, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes strategy-cir3 {
  35% {
    -webkit-transform: translate3d(0.7em, -0.7em, 0);
            transform: translate3d(0.7em, -0.7em, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.active #period-anm {
  -webkit-transform-origin: center 100%;
          transform-origin: center 100%;
  -webkit-animation: period var(--duration-icon);
          animation: period var(--duration-icon);
}

.active #period-cir {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: period-cir var(--duration-icon);
          animation: period-cir var(--duration-icon);
}

.active #period-line {
  stroke-dasharray: 66;
  animation: period-line calc( var(--duration-icon) / 2.5) reverse;
}

@-webkit-keyframes period {
  35% {
    -webkit-transform: scaleY(0.85);
            transform: scaleY(0.85);
  }
  60%, 70% {
    -webkit-transform: scaleY(1.2);
            transform: scaleY(1.2);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes period {
  35% {
    -webkit-transform: scaleY(0.85);
            transform: scaleY(0.85);
  }
  60%, 70% {
    -webkit-transform: scaleY(1.2);
            transform: scaleY(1.2);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes period-cir {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
    -webkit-transform: translate3d(15%, -55%, 0);
            transform: translate3d(15%, -55%, 0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translate3d(-8%, -50%, 0);
            transform: translate3d(-8%, -50%, 0);
  }
}

@keyframes period-cir {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
    -webkit-transform: translate3d(15%, -55%, 0);
            transform: translate3d(15%, -55%, 0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translate3d(-8%, -50%, 0);
            transform: translate3d(-8%, -50%, 0);
  }
}

@-webkit-keyframes period-line {
  100% {
    stroke-dashoffset: 66;
  }
}

@keyframes period-line {
  100% {
    stroke-dashoffset: 66;
  }
}

.active #security-cir {
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: security-cir calc( var(--duration-icon) / 1.5);
          animation: security-cir calc( var(--duration-icon) / 1.5);
}

@-webkit-keyframes security-cir {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes security-cir {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.active #security-strok {
  stroke-dasharray: 96;
  -webkit-animation: security-strok calc( var(--duration-icon) / 1.2);
          animation: security-strok calc( var(--duration-icon) / 1.2);
}

@-webkit-keyframes security-strok {
  0% {
    stroke-dashoffset: 60;
  }
  100% {
    stroke-dashoffset: 230;
  }
}

@keyframes security-strok {
  0% {
    stroke-dashoffset: 60;
  }
  100% {
    stroke-dashoffset: 230;
  }
}

.active #settings-anm {
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: settings-anm calc( var(--duration-icon) / 1.5);
          animation: settings-anm calc( var(--duration-icon) / 1.5);
}

@-webkit-keyframes settings-anm {
  0% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  50% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
}

@keyframes settings-anm {
  0% {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
  50% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
}
/*# sourceMappingURL=index1.css.map */